{% extends "main.html" %} {% block content %} {% block title %}elEARN |
Courses{% endblock %}

<br />
<div style="text-shadow: 2px 2px black">
  <h1 style="margin: 2rem">Courses</h1>
</div>
<div class="container marketing">
  {% for course in courses %}
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" style="margin-top: auto">
        {{ course['title'] }}
        <!--<span class="text-muted">It'll blow your mind.</span>-->
      </h2>
      <p class="lead">{{ course['summary'] }}</p>
      <p class="lead">
        <span class="text-muted">Category:</span> {{ course['category'] }}
      </p>
      <p class="lead">
        <span class="text-muted">Requirements:</span> {{ course['requirements']
        }}
      </p>
      <p class="lead">
        <span class="text-muted">Duration:</span> {{ course['duration'] }}
      </p>
      <p class="lead">
        <span class="text-muted">Lectures:</span> {{ course['lectures'] }}
      </p>
      <p class="lead">
        <span class="text-muted">Quizzes:</span> {{ course['quizzes'] }}
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto"
        src="{{ course['thumbnail'] }}"
        alt="Generic placeholder image"
      />
      <div class="enroll-btn">
        {% if course['enrolled'] %}
        <button class="btn btn-secondary" disabled>Enrolled</button>
        {% else %}
        <button class="btn btn-secondary">Enroll</button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
