{% extends "main.html" %} {% block content %}

<div style="text-shadow: 2px 2px black">
  <h1>Courses</h1>
</div>

<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
  style="width: 80%; height: auto"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    {% for i in range(start=1, len(courses)) %}
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="{{ courses[i] }}"
      class=""
    ></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for course in courses %}
    <a href="/courses/{{ course['course_id'] }}">
      <div class="carousel-item align-items-center active">
        <img
          class="d-block w-100"
          src="{{ course['thumbnail'] }}"
          alt="slide{{ courses.index(course) }}"
        />
        <div
          class="carousel-caption d-flex flex-column justify-content-center h-100"
          style="top: 0"
        >
          <div style="text-shadow: 2px 2px black">
            <h1>{{ course['category'] }}</h1>
            <h2>{{ course['title'] }}</h2>
          </div>
        </div>
      </div>
    </a>

    {% endfor %}

    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock %}
